
.dashboard{
	.container{
		margin-top: 6rem;
	}
	.info-btn{
		text-align: center;
		display: flex !important;
		justify-content: center;
		align-items: center;
		background-color: #00a5ef !important;
		color: #fff!important;
		margin: auto;
	}
	.time-count{
		font-size: 22px;
		text-align: center;
		justify-content: center;
		align-items: center;
		gap: 10px;
	}
	.chart-container{
		position: relative;
		display:flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		.no-chart{
			position: absolute;
			top: 100px;
		}
	}		
}
.w10{
	width: 100%;
}